{% extends 'layouts/master.html' %}
{% block title %}View{% endblock %}
{% block body %}
<h1>Assets</h1>
<form method="get">
    {{ generate_fields(search_form) }}
    <button type="submit" class="btn btn-default" value="Query" method="post">
        Query
    </button>
</form>
{% if rows%}
<table class="table-hover table-bordered table-condensed">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">emp#</th>
            <th scope="col">location</th>
            <th scope="col">seat_no</th>
            <th scope="col">sl_no_1</th>
            <th scope="col">model</th>
            <th scope="col">make</th>
            <th scope="col">tel_tvm</th>
            <th scope="col">test_pc</th>
            <th scope="col">chip</th>
            <th scope="col">ram</th>
            <th scope="col">hdd</th>
            <th scope="col">asset_no</th>
            <th scope="col">allocated_on</th>
            <th scope="col">project</th>
            <th scope="col">won_no</th>
            <th scope="col">end_date</th>
            <th scope="col">__action</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.emp_no }}</td>
            <td>{{ row.location }}</td>
            <td>{{ row.seat_no }}</td>
            <td>{{ row.sl_no_1 }}</td>
            <td>{{ row.model }}</td>
            <td>{{ row.make }}</td>
            <td>{{ row.tel_tvm }}</td>
            <td>{{ row.test_pc }}</td>
            <td>{{ row.processor }}</td>
            <td>{{ row.ram }}</td>
            <td>{{ row.hdd }}</td>
            <td>{{ row.asset_no }}</td>
            <td>{{ row.allocation_date }}</td>
            <td>{{ row.project_name }}</td>
            <td>{{ row.won_no }}</td>
            <td>{{ row.end_date }}</td>
            <td class="text-right">
                <div class="row">
                    <form action="{{ url_for('assets_delete') }}" method="post" class="pull-right">
                        <input type="hidden" name="id" value="{{ row.id }}">
                        <button type="submit" class="btn-sm btn-danger" data-toggle="confirmation" >
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                    <button type="button" class="btn-sm btn-primary pull-right" onclick="window.location.href='{{ url_for( 'edit_asset' , id=row.id ) }}';">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endif%}
{% endblock %}
